.back-icon {
    width: 11px;
    height: 15px;
}

.checkbox-icon {
    width: 30px;
    height: 30px;
}

.checked-icon {
    width: 16px;
    height: 12px;
}

.search-icon {
    width: 19px;
    height: 14px;
}