.grid-background {
    background-image: url('/rect/GridBG.svg');
    z-index: 1;
}

.touch-icon {
    position: absolute;
    bottom: 0;
    width: 85px;
    height: 115px;
    z-index: 100;
}

.exit-icon {
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 34px;
    z-index: 100;

}

.h-screen-minus-74 {
    height: calc(100vh - 74px);
}