.onboarding {
    font-family: 'AeonikTRIAL-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 105.479%;
    text-transform: capitalize;
}

/* Animation for blur effect */
@keyframes blurInOut {
    0% {
        filter: blur(10px);
        transform: scale(1);
    }
    50% {
        filter: blur(0px);
    }
    100% {
        filter: blur(10px);
        transform: scale(1);
    }
}

/* Animation for pixelated frame */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pixelated-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Transition effects based on state */
.fade-in {
    animation: fadeIn 0.25s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.25s ease-in-out forwards;
}

/* Transition effect for text */
.transition-text {
    animation: blurInOut 0.8s ease-in-out infinite;
}

.bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
